<div
  class="card"
  #myDiv="animated"
  [animAted]="{ time: 1500, animation: 'pulse' }"
>
  <div class="card-header">Create Post</div>
  <div class="card-body">
    <form [formGroup]="postForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id=""
          class="form-control"
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input
          type="text"
          name="content"
          id=""
          class="form-control"
          formControlName="content"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!postForm.valid"
        (click)="onAddPost(); myDiv.animate()"
      >
        Save
      </button>
    </form>
  </div>
</div>
